doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/ajax.js" type="text/javascript")
  body(onload="initialize()")
    block content
